<div class="main">
  <div class="title">
    <h1>Facts About Jajuan</h1>
    <div class="formBox">
      <div class="">
        <div class="firstName">
          <label>First Name:</label>
          <input type="text" ng-model="$ctrl.firstName" />
        </div>
        <div class="lastName">
          <label>Last Name:</label>
          <input type="text" ng-model="$ctrl.lastName" />
        </div>
      </div>
    </div>
  </div>

  <div class="factBox">
    <div class="fact">
      {{$ctrl.fact}}
    </div>
    <div class="buttonBox">
      <div class="buttonContainer">
        <div class="button" ng-click="$ctrl.newFact($event)">Get New Fact</div>
        <div class="button" ng-click="$ctrl.saveFact($event)">Save Fact</div>
      </div>
      <div ng-show="$ctrl.savedFacts.length > 0" class="allFacts">
        <div ng-repeat="fact in savedFacts">
          {{ $ctrl.$ctrl.fact.fact  }}
        </div>
      </div>
    </div>
  </div>

</div>
